<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="resourceGroup" value="empowerID_TestRG" />
		<add key="dataFactoryName" value="empoweridtestdb-df" />
		<add key="pipelineName" value="pipelineCopyDataToProductCognitiveSearch" />
	</appSettings>
</configuration>