<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="resourceGroup" value="empowerID_TestRG" />
		<add key="dataFactoryName" value="empoweridtestdb-df" />
		<add key="pipelineName" value="pipelineCopyDataToProductCognitiveSearch" />
		<add key="applicationId" value="4d0ff30d-bcdd-449b-9eeb-c06d93fe8961" />
		<add key="clientSecret" value="nvN8Q~SByqgEVlJuskc2gJdNUKyJLtOHACGMyboc" />
		<add key="subscriptionId" value="b19f4ee4-a01e-4706-8a8c-96558113ac54" />
		<add key="tenantID" value="1363ebc4-b673-4c1d-b408-71fb8624a0d1" />
		<add key="activeDirectoryEndpoint" value="https://login.windows.net/" />
		<add key="windowsManagementUri" value="https://management.core.windows.net/" />		
		<add key="searchIndexName" value="product-empoweridtest-index" />
		<add key="searchServiceEndPoint" value="https://empoweridcognitivesearchdemo.search.windows.net" />
		<add key="searchQueryApiKey" value="2rT6w9C7AXOI5sQHDAkGMouyJE5G1EAoPlTyFIU9JnAzSeDk7cOq" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>